.container {
  background-color: var(--blue-500);
  color: var(--gray-100);
  padding: 0 1.6rem;
  border: 0;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0.8rem;
  transition: all 0.2s;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.container:hover {
  background-color: var(--blue-400);
  transform: scale(1.03);
}

.container:active {
  background-color: var(--blue-400);
  transform: scale(0.97);
}
